.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > .navbar {
  display: flex;
  gap: 30px;
}
.header .navbar a.active {
  color: red;
  font-weight: bold;
  background-color: gray;
}
