.ant-col {
  padding: 0;
  margin: 0;
}
.ant-card {
  min-width: 250px;
}
.ant-card-body {
  height: 150px;
  padding: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-statistic-title {
  color: white !important;
  white-space: nowrap !important;
  margin-bottom: 20px !important;
  font-size: 17px !important;
  font-weight: 700;
}
.ant-statistic-content-value-int {
  color: white !important;
  margin-top: 10px !important;
}
.first-card {
  background-color: #646cff !important;
}
.second-card {
  background-color: #ffc107 !important;
}
.third-card {
  background-color: #009688 !important;
}
.main-header {
  position: relative;
  margin-bottom: 50px !important;
}
.main-header::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 200px;
  height: 4px;
  background-color: #646cff;
  transform: translate(-50%, -50%);
}
.main-header::after {
  content: "";
  position: absolute;
  bottom: -24px;
  width: 25px;
  height: 25px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background-color: #646cff;
}
@media (max-width: 767px) {
  .ant-statistic-title {
    white-space: wrap !important;
  }
}
